
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(0, 255, 221);
  }
  img{
width: 920px;
height: 435px;
border-radius: 50px;
  }
  h2{
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  table{
    border-collapse: separate; 
    border-spacing: 5px; 
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .login-form button[type="submit"],
  .login-form a button {
    background-color: #3310f9;
    color: rgb(18, 1, 1);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
  }
  button{
    background-color: #10e6f9;
    color: rgb(149, 20, 20);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
  }
  .login-form button[type="submit"]:hover,
  .login-form a button:hover {
    background-color: #2fd305;
  }
  .login-form p {
    border-radius: 50px;
    margin: 10px 0;
  }
  .main-content{
    font-family:'Times New Roman', Times, serif;
    background-color: #fefefe;
    padding: 67px 30px;
    border-radius: 50px;
  }
  body{
    background-color: #3ce7a6;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
  }