<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <h2>Dashboard</h2>
        <hr>
        <table>
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIoe757HmIzRae_Ak3i9Z_Ih3GeOQJPeIEYg&usqp=CAU"></td>
            <td><img src="https://financialit.net/sites/default/files/0_r057gqx3gyooy-bk.jpg"></td>
            <td><img src="https://static.vecteezy.com/system/resources/thumbnails/024/063/335/small/transaction-payment-history-png.png"></td>
            <td><img src="https://cdn3d.iconscout.com/3d/premium/thumb/add-payment-6871345-5654929.png"></td>
          </tr>
            <tr>
                <td><a href="/profile"><button class="button-viewprofile">View Profile</button></a></td>
                <td><a href="/send-money"><button class="button-sendmoney">Send Money</button></a></td>
                <td><a href="/transactions"><button class="button-transactions">Check Transactions</button></a></td>
                <td><a href="/add-money"><button class="button-addmoney">Add Money from Bank Account</button></a></td>
                <td></td>
            </tr>
        </table>
        <div class="logout-button">
            <a href="/"><button class="button-logout">Log Out</button></a>
        </div>
    </div>
</body>
</html>
