<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
  </head>
<body>
  <div class="container">
    <div class="header text-center">
      <h1>Create Account</h1>
      
    </div>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<table>
  <tr><td>
    <div class="wallet-form">
      <form #walletForm="ngForm" (ngSubmit)="submitForm(walletForm)">
        <h2>Fill the Details</h2>

        <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName" [(ngModel)]="wallet.fullName" required
                 pattern="^[A-Za-z ]+$" maxlength="20">
          <div *ngIf="walletForm.controls['fullName'].invalid && walletForm.controls['fullName'].dirty">
            Full Name should contain only Alphabets.
          </div>
          <div *ngIf="walletForm.controls['fullName'].hasError('maxlength') && walletForm.controls['fullName'].dirty">
            Full Name should be at most 20 characters.
          </div>
        </div>

        <div class="form-group">
          <label for="emailAddress">Email Address:</label>
          <input type="email" id="emailAddress" name="emailAddress" [(ngModel)]="wallet.emailAddress" required
                 pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
          <div *ngIf="walletForm.controls['emailAddress'].invalid && walletForm.controls['emailAddress'].dirty">
            Please enter a valid email address.
          </div>
        </div>
    
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="wallet.password" required
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,10}$">
          <div *ngIf="walletForm.controls['password'].invalid && walletForm.controls['password'].dirty">
            Password should have at least one uppercase letter, one lowercase letter, one number, one special character,
            and be between 6 and 10 characters long.
          </div>
        </div>
    
        <div class="form-group">
          <label for="walletPin">Wallet PIN:</label>
          <input type="text" id="walletPin" name="walletPin" [(ngModel)]="wallet.walletPin" required
                 pattern="^[1-9][0-9]{3}$" minlength="4" maxlength="4">
          <div *ngIf="walletForm.controls['walletPin'].hasError('required') && walletForm.controls['walletPin'].dirty">
            Wallet PIN is required.
          </div>
          <div *ngIf="walletForm.controls['walletPin'].hasError('pattern') && walletForm.controls['walletPin'].dirty">
            Wallet PIN must be a 4-digit number.
          </div>
          <p>Note: Please remember this PIN to do Wallet Transactions.</p>
        </div>
    
        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label>
          <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="wallet.phoneNumber" required
                 minlength="10" maxlength="10" pattern="^[0-9]+$">
          <div *ngIf="walletForm.controls['phoneNumber'].hasError('minlength') && walletForm.controls['phoneNumber'].dirty">
            Phone Number should have 10 digits.
          </div>
          <div *ngIf="walletForm.controls['phoneNumber'].hasError('pattern') && walletForm.controls['phoneNumber'].dirty">
            Phone Number should contain only numbers.
          </div>
        </div>
    
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="wallet.dateOfBirth" required>
          <div *ngIf="walletForm.controls['dateOfBirth'].hasError('required') && walletForm.controls['dateOfBirth'].dirty">
            Date of Birth is required.
          </div>
        </div>
    
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" [(ngModel)]="wallet.address" required minlength="20" maxlength="200">
          <div *ngIf="walletForm.controls['address'].hasError('maxlength') && walletForm.controls['address'].dirty">
            Address can be a maximum of 200 characters length.
          </div>
          <div *ngIf="walletForm.controls['address'].hasError('minlength') && walletForm.controls['address'].dirty">
            Address can be a minimum of 20 characters length.
          </div>
        </div>
        
    
        <button type="submit">Create Account</button>
      </form>
    </div></td>
    <td>
      <img src="https://img.freepik.com/free-photo/3d-cryptocurrency-rendering-design_23-2149074564.jpg">
    </td>
    </tr>
  </table>
  </div>
</body>
</html>
