<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Wallet Application</title>
   
</head>
<body>
    <div class="container">
        <div class="right"></div>
        <div class="left">
            <div class="home">
                <h1>Welcome to Wallet Application</h1>
                
                <div class="links">
                  <p>Sign Up to Create Wallet Account !</p>
                    <a href="/signup"><button>Sign Up</button></a>
                    <p>If Already Acccount Created Login !</p>
                    <a href="/login"><button>Login</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
